{% extends "base.html" %} 
{% block content %} 
<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark w-100">
        <a class="navbar-brand text-white font-weight-bold" href="#">Task</a>
        <ul class="mt-2 ml-auto d-flex justify-content-center align-items-center">
            <a href="{% url 'home' %}"><li class="list"><i class="fa-solid fa-house"></i></li></a>
            <a href="{% url 'cart' %}"><li class="list"><i class="fa-solid fa-cart-shopping"></i><p class="count">{{count}}</p></li></a>
        </ul>
    </nav>
</div>
<div class="row container-fluid">
{% for cart in carts %}
<div class="col-xlg-3 col-lg-3 col-md-4 col-sm-12 col-12 mt-3">
    <img class="w-100" src="{{cart.product.product_image.url}}" alt="">
    <div class="pt-2 px-2 border d-flex justify-content-between align-items-center py-3">
        <p>{{cart.product.product_name}}</p>
        <p>{{cart.product.product_selling_price}}</p>
        <a href="{% url 'delete' cart.id %}"><button class="btn btn-dark">Remove</button></a>
    </div>
</div>
{% endfor %} 
</div>
{% endblock content %}
