{% extends "base.html" %}

{% block content %}
<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark w-100">
        <a class="navbar-brand text-white font-weight-bold" href="#">Task</a>
        <ul class="mt-2 ml-auto d-flex justify-content-center align-items-center">
            <a href="{% url 'home' %}"><li class="list"><i class="fa-solid fa-house"></i></li></a>
            <a href="{% url 'cart' %}"><li class="list"><i class="fa-solid fa-cart-shopping"></i><p class="count">{{count}}</p></li></a>
        </ul>
    </nav>
</div>
<div class="row container-fluid">
    {% for product in products %}
    <div class="col-xlg-3 col-lg-3 col-md-4 col-sm-6 col-xsm-12">
        <div class="card mt-5 w-100" style="width: 18rem;">
            <img class="card-img-top" src='{{product.product_image.url}}' alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.product_name}}</h5>
              <p class="card-text">{{product.product_selling_price}}</p>
              <a href="{% url 'addtocart' product.id %}" class="btn btn-dark text-white">Add to Cart</a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>




{% endblock content %}